Options -Indexes -ExecCGI
<FilesMatch "\.php">
    Order Allow,Deny
    Deny from all
</FilesMatch>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>